.sidenav-container {
	position: absolute;
	top: 64px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #eee;
}

.sidenav {
	width: 240px;
}

.sidenav-content {
	display: flex;
	padding: 24px 16px;
	height: 100%;
}
