<ng-container *ngIf="vm$ | async as vm">
	<div class="sub-nav">
		<mat-button-toggle-group class="toggle-group" #group="matButtonToggleGroup" [value]="vm.filter">
			<mat-button-toggle [value]="TaskFilter.All" (change)="onToggleGroupChange($event.value)"
				>All</mat-button-toggle
			>
			<mat-button-toggle [value]="TaskFilter.Pending" (change)="onToggleGroupChange($event.value)"
				>Pending</mat-button-toggle
			>
			<mat-button-toggle [value]="TaskFilter.Completed" (change)="onToggleGroupChange($event.value)"
				>Completed</mat-button-toggle
			>
		</mat-button-toggle-group>
		<mat-form-field class="search-bar" appearance="outline">
			<mat-label>Search</mat-label>
			<input matInput type="text" (input)="onChange($event.target.value)" />
			<mat-icon matPrefix>search</mat-icon>
		</mat-form-field>
	</div>
	<div class="task-list-container">
		<div class="header">
			<button mat-stroked-button (click)="toggleSort(vm.sortOrder)">
				<ng-container *ngIf="vm.sortOrder === SortOrder.Newest">
					Newest
					<mat-icon>keyboard_arrow_down</mat-icon>
				</ng-container>

				<ng-container *ngIf="vm.sortOrder === SortOrder.Oldest">
					Oldest
					<mat-icon>keyboard_arrow_up</mat-icon>
				</ng-container>
			</button>
			<button mat-flat-button color="primary" matTooltip="Add new task" (click)="openAddDialog(vm.users)">
				<mat-icon>add</mat-icon>
			</button>
		</div>
		<div *ngFor="let t of vm.tasks" class="task">
			<div class="left-side">
				<button mat-icon-button (click)="toggleCompletion(t.id)" matTooltip="Toggle completion">
					<mat-icon *ngIf="t.completed" style="color: green">done</mat-icon>
					<mat-icon *ngIf="!t.completed" style="color: red">priority_high</mat-icon>
				</button>
				<h3 routerLink="/tasks/{{ t.id }}" (click)="selectTask(t.id)">{{ t.description }}</h3>
			</div>
			<div class="right-side" *ngIf="t.assigneeId">
				<img [src]="t.assigneeImage" matTooltip="Assigned to {{ t.assigneeName }}" />
			</div>
		</div>
	</div>
</ng-container>
